body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'futura';
  src: url('assets/fonts/futura-pt-demi.otf') format("opentype");
}

@font-face {
  font-family: 'futuraB';
  src: url('assets/fonts/FuturaBoldfont.ttf') format("opentype");
}

@font-face {
  font-family: 'futuraL';
  src: url('assets/fonts/FuturaLightfont.ttf') format("opentype");
}

@font-face {
  font-family: 'futuraBL';
  src: url('assets/fonts/FuturaBolditalicfont.ttf') format("opentype");
}

@font-face {
  font-family: 'futuraLi';
  src: url('assets/fonts/futuralightbt.ttf') format("opentype");
}